*{
    font-family: Inclusive Sans;
    color: #4F4F4F;
    font-weight: 400;
}

/* Esconder a barra de rolagem */
::-webkit-scrollbar {
    display: none;
}

/* Animações */
    @-webkit-keyframes swing {
        15%
        {
            -webkit-transform: translateX(5px);
            transform: translateX(5px);
        }
        30%
        {
            -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
        }
        50%
        {
            -webkit-transform: translateX(3px);
            transform: translateX(3px);
        }
        65%
        {
            -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
        }
        80%
        {
            -webkit-transform: translateX(2px);
            transform: translateX(2px);
        }
        100%
        {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }
    @keyframes swing {
        15%
        {
            -webkit-transform: translateX(5px);
            transform: translateX(5px);
        }
        30%
        {
            -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
        }
        50%
        {
            -webkit-transform: translateX(3px);
            transform: translateX(3px);
        }
        65%
        {
            -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
        }
        80%
        {
            -webkit-transform: translateX(2px);
            transform: translateX(2px);
        }
        100%
        {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }
    @keyframes fadeInOutAnimation  {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
/* Fim Animações */

/* Splash Screen */
    .splashScreen {
        width: 100%;
        min-height: 90vh;
        background: #120A8F;

        /* border-top: 1px solid #000; */

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .imgSplashLogo {
        width: 50%;

        -webkit-animation: fadeInOutAnimation 2.5s ease;
        animation: fadeInOutAnimation 2.5s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;

    }
    .welcomeSplash {
        font-family: Inclusive Sans;
        font-size: 22px;
        color: #FFFFFF;

        -webkit-animation: swing 4s ease;
        animation: swing 4s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
    }
/* Fim Splash Screen */

/* Header */
    .header {
        background: #120A8F;
        color: #FFFFFF;
        padding: 15px 5px 0 0;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .fontRegular {
        font-size: 15px;
    }
    .logo-header {
        width: 65px;
        padding: 5px;
    }
    .text-form-search {
        font-size: 13px;
    }
    .btn-icons {
        color: #FFFFFF;
        cursor: pointer;
        font-size: 18px;
    }
    .isLogin {
        width: 100%;
        padding: 0 0 1px 8px;

        background: #120A8F;
    }
    .btn-logar {
        width: 80px;

        font-family: Inclusive Sans;
        font-size: 14px;

        border-radius: 10px;

        color: #FFFFFF;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn-icons-logar {
        color: #FFFFFF;
        cursor: pointer;
        font-size: 15px;
        padding: 0 0 0 10px;
    }
/* Fim Header */

/* Slide */
    .carouselSlide{
        max-width: 100vw;

        background: linear-gradient(#120A8F, transparent);
    }
    .carouselSlide a {
        text-decoration: none;
    }
    .elementosCarouselSlide {
        height: 120px;

        margin: 0 5px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .elementoCarouselSlide {
        width: 50%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .imgCarouselSlide {
        max-width: 100%;
    }
/* Fim Slide */

/* Footer */
    footer {
        min-height: 10vh;
        background: #120A8F;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-text {
        color: #FFFFFF;
    }
/* Fim Footer */
