*{
    font-family: Inclusive Sans;
    color: #4F4F4F;
    font-weight: 400;
}
.header {
    background: #120A8F;
    color: #FFFFFF;
    padding: 15px 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.fontRegular {
    font-size: 15px;
}
.logo-header {
    width: 65px;
    padding: 5px;
}
.form-search {
    height: 30px;
    padding: 0 5px;
    border: 0;
    border-radius: 5px;
    outline: 0;

    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Search_icon.svg/1024px-Search_icon.svg.png');
}
.btn-icons {
    color: #FFFFFF;
    cursor: pointer;
    font-size: 18px;
}
